<div>

    <div class="views-row views-row-11 views-row-odd">

        <div style="padding:0 60px 40px 0;">

            <font face="Arial, Helvetica, sans-serif" style="color:#336699" size="2"><strong>&nbsp;</strong></font><br/>
            <font face="Arial, Helvetica, sans-serif" style="color:#666;font-weight:normal" size="2"></font><br/>
            <br/>
            Eugène van der Merwe<br/>
            ____________________<br/>

            <table border="0" style="border:none; border-collapse:none;" cellspacing="2" cellpadding="0">
                <tr>
                    <td colspan="2"><a href="http://www.snowball.co.za"><img
                            src="http://www.snowball.co.za/images/snowball-logo-email.gif" alt="snowball"
                            width="135" height="29" border="0"/></a></td>
                </tr>
                <tr>
                    <td><font face="Arial, Helvetica, sans-serif" color="#666" size="1">mobile:</font></td>
                    <td><font face="Arial, Helvetica, sans-serif" color="#666" size="1">+27 (0)82 309-6710</font></td>
                </tr>
                <tr>
                    <td><font face="Arial, Helvetica, sans-serif" color="#666" size="1">tel:</font></td>
                    <td><font face="Arial, Helvetica, sans-serif" color="#666" size="1">+27 (0)21 880 2228</font></td>
                </tr>
                <tr>
                    <td><font face="Arial, Helvetica, sans-serif" color="#666" size="1">fax:</font></td>
                    <td><font face="Arial, Helvetica, sans-serif" color="#666" size="1">+27 (0)21 880 2229</font></td>
                </tr>
                <tr>
                    <td><font face="Arial, Helvetica, sans-serif" color="#666" size="1">email:</font></td>
                    <td><font face="Arial, Helvetica, sans-serif" size="1" color="#336699" style="text-decoration:none"><a
                            style="color:#336699; text-decoration:none"></a>
                <span class='field-content'>
                            <a href="mailto:eugene@snowball.co.za"><span class="field-content">eugene@snowball.co.za
                            </span></a></span></font></td>

                </tr>
                <tr>
                    <td><font face="Arial, Helvetica, sans-serif" color="#666" size="1">web:</font></td>
                    <td><font face="Arial, Helvetica, sans-serif" size="1" color="#336699" style="text-decoration:none"><a
                            style="color:#336699; text-decoration:none" href="https://www.snowball.co.za/">www.snowball.co.za</a></font>
                    </td>
                </tr>
                <tr>
                    <td><font face="Arial, Helvetica, sans-serif" color="#666" size="1">video</font></td>
                    <td><font face="Arial, Helvetica, sans-serif" size="1" color="#336699" style="text-decoration:none"><a
                            style="color:#336699; text-decoration:none"
                            href="https://www.youtube.com/watch?feature=player_embedded&v=UeTxjXJxPFg">a video
                        about Snowball</a></font></td>
                </tr>
            </table>
            <br/>

            <font face="Arial, Helvetica, sans-serif" style="color:#336699" size="2">Find Us: </font><a
                href="http://www.facebook.com/snowisp" title="Facebook"><img
                src="https://www.snowball.co.za/sites/default/files/icons/facebook.png" border="0"/></a> <a
                href="http://www.linkedin.com/company/1014497" title="LinkedIn"><img
                src="https://www.snowball.co.za/sites/default/files/icons/linkedin.png" border="0"/></a> <a
                href="https://plus.google.com/104917472701939766170/?prsrc=3" style="text-decoration: none;"
                title="Google+"><img src="https://ssl.gstatic.com/images/icons/gplus-16.png" width="16" height="16"
                                     style="border: 0;"/></a> <a href="http://twitter.com/snowballeffect"
                                                                 title="Twitter"><img
                src="https://www.snowball.co.za/sites/default/files/icons/twitter.png" border="0"/></a> <a
                href="http://feeds.feedburner.com/snowball" title="RSS News Feeds"><img
                src="https://www.snowball.co.za/sites/default/files/icons/feed.png" border="0"/></a>

            <div style="width:140px;"><br/>
            </div>
        </div>

    </div>
</div>
